---
const { difficult } = Astro.props

const medium = "text-yellow-100 border-yellow-500 bg-yellow-500"
const hard = "text-red-100 border-red-500 bg-red-500"
const easy = "text-green-100 border-green-500 bg-green-500"

let color

if (difficult === "media") {
  color = medium
} else if (difficult === "fácil") {
  color = easy
} else if (difficult === "difícil") {
  color = hard
}
---

<p class={`font-marker text-xl lg:text-3xl py-2 px-4 border-2 border-solid rounded-xl ${color}`}>
  { difficult }
</p>