<header class="px-4 w-full h-16 flex items-center">
  <nav class="w-full flex justify-between items-center">
    <h2>
      <a class="text-white font-bold px-4 py-2 rounded-full border-2 border-white border-solid hover:bg-white hover:text-[#dc2626]" href="">@malsebasmal</a>
    </h2>
    <p class="text-white font-medium">2025 ©</p>
  </nav>
</header>