---
import Badge from "./Badge.astro";
---

<div class="w-[35rem] bg-blue-400">
  <div class="flex justify-around items-center pt-4 pb-4">
    <h3 class="font-bold text-3xl">San bartolo</h3>
    <Badge difficult="Difícil"/>
  </div>
  <div>
    <img src="https://www.google.com/maps/about/images/mymaps/mymaps-desktop-16x9.png" alt="map" class="w-full">
  </div>
</div>