---
import Badge from "./Badge.astro";

const { classExtra, name, difficult, map } = Astro.props
---

<div class={`w-[35rem] bg-blue-400 ${classExtra}`}>
  <div class="flex justify-center items-center gap-4 pt-4 pb-4">
    <h3 class="font-bold text-3xl">{name}</h3>
    <Badge difficult={difficult}/>
  </div>
  <div>
    <img src={map} alt="map" class="w-full">
  </div>
</div>