---
import { Image } from "astro:assets";
import bikeImage from "@/assets/bike.svg"
---

<section class="px-4 pr-0 w-full h-[80vh]">
  <div class="w-full h-full flex items-center justify-between relative">
    <h1 class="text-white font-marker text-7xl">
      Las mejores rutas <br> de ciclismo de ruta <br> en
      <span class="text-8xl bg-gradient-to-tl from-amber-500 to-yellow-400 bg-clip-text text-transparent">Lima, Perú</span>
    </h1>
    <Image src={bikeImage} alt="Bicicleta de ruta/carretera" class="absolute size-96 right-0"/>
  </div>
</section>

