---
import { Image } from "astro:assets";
import bikeImage from "@/assets/bike.svg"
---

<section class="w-full h-[80vh]">
  <div class="w-full h-full flex items-center justify-between">
    <h1 class="font-marker text-4xl">
      Las mejores rutas de ciclismo de ruta en <span class="text-[#d20414]">Lima, Perú</span>
    </h1>
    <Image src={bikeImage} alt="Bicicleta de ruta/carretera" class="w-10"/>
  </div>
</section>