---
import Route from "@/components/Route.astro";
import { routes } from "@/assets/routes.js";
---

<section class="mt-10 px-4 mb-4 w-full h-auto">
  <div class="bg-white mx-20 px-20 py-10 rounded-2xl">
      {routes.map((route) => (
        <Route name={route.name} difficult={route.difficult} map={route.map} gotThere={route.gotThere} />
      ))}
  </div>
</section>
