---
import Route from "@/components/Route.astro"
import { routes } from "@/assets/routes.js"
import Slider from "@/components/Slider.astro"
---

<section class="mt-10 px-4 pb-4 w-full h-auto">
  <div class="bg-white md:mx-20 py-4 lg:py-10 rounded-2xl">
    <Slider>
      {routes.map((route) => (
        <div class="carousel-slide">
          <div class="flex h-full justify-center">
            <Route name={route.name} difficult={route.difficult} map={route.map} gotThere={route.gotThere} />
          </div>
        </div>
      ))}
    </Slider>
  </div>
</section>

