---
import "@/reset/reset.css"
import "@fontsource/permanent-marker"
import "@fontsource-variable/inter"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Las mejores rutas para ciclismo de carretera en  Lima, Perú. Empieza a desplazarte con tu bicicleta de carretera por las rutas más transitadas en Lima, Perú. Bajadas, subidas, planos, lo tienen todo!" />
		<meta name="keywords" content="rutas, ciclismo, ciclismo de ruta, ciclismo de carretera, Lima, Perú, deporte, bicicleta">
		<meta name="author" content="malsebasmal">
		<title>Las mejores rutas de ciclismo de ruta en Lima, Perú</title>
	</head>
	<body>
		<slot />
	</body>
</html>
